* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(24, 26, 200);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200;
    overflow: hidden;
}

canvas {
    border: none;
}
